<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink = "/" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink = "/radio" class="nav-link" href="#">Radio</a>
        </li>
        <li class="nav-item">
          <a  routerLink = "/prayer" class="nav-link" href="#">Prayer Time</a>
        </li>
      </ul>
    </div>

    <div *ngIf = "token; else elseBlock" class="d-flex justify-content-end">
      <button  routerLink = "/profile" class="btn btn-warning">Profile</button>
      <button (click)= "logout()" routerLink = "/" class="btn btn-info">Log out</button>
    </div>
    <ng-template #elseBlock>
      <div class="d-flex justify-content-end">
        <button  routerLink = "/login" class="btn btn-info">Log in</button>
      </div>
    </ng-template>

  </nav>
