<div class="container">
    <h2>Select your emotional state</h2>
<div class = "row" >
    <div class="col">
      <div class="card" style="width:400px">
         <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
         <div class="card-body">
          <button  class="btn btn-primary" (click)="getState('angry')">Angry</button>
         </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width:400px">
           <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
           <div class="card-body">
            <button (click)="getState('scared')" class="btn btn-primary">Scared</button>
           </div>
        </div>
      </div>
</div>
<div class = "row" >
    <div class="col">
      <div class="card" style="width:400px">
         <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
         <div class="card-body">
          <button (click)="getState('sick')" class="btn btn-primary">Sick</button>
         </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width:400px">
           <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
           <div class="card-body">
            <button (click)="getState('stuck')" class="btn btn-primary">Stuck</button>
           </div>
        </div>
      </div>
</div>
    <br>
</div>

<div>
    <app-verses [verses] = "verses"></app-verses>
</div>