<footer class="container-fluid text-center">
  <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;">
    <a href="#top-section" class="btn-floating btn-large red">
    <i class="fas fa-arrow-up"></i>
    </a>
    </div>
  <p>Eslamo Copyright</p>
  <h2>Donation</h2>
  <input [(ngModel)]="amount" type="text"/><br><br>
  <button type="submit" (click)='proceedPayment()'>Donate</button>    
  <form class="form-inline">Get Newsletter:
    <input type="email" class="form-control" id="footersub" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger subtn">Subscribe</button>
  </form>
  
</footer>